<h2 class="subheader"><a href="/">All Animals</a> <a href="/pets/available">Available animals</a></h2>

<% if @pets.count > 0 %>
  <div id="pet_list">
    <% for pet in @pets %>
      <div class="pet">
        <h3><%= pet.name %></h3>
        <p>Admitted on: <%= pet.date_formatted %></p>
        <p><a href="/pets/<%= pet.id %>">More Info</a></p>
      </div>  
    <% end %> 
  </div>
<% else %>
  <p class="no-results">There are no pets to show at the moment. Please check back later.</p>
<% end %>